html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}

.btn {
    margin: 8px;
    padding: 4px;
    border: 0;
    border-radius: 8px;
    background-color: aliceblue;
    text-align: center;
}

.btn:hover {
    background-color: red;
}

input[type="number"] {
    margin: 8px;
    width: 76px;
}

label.floatLabel {
    position: absolute;
    font-size: 12px;
}

#ROOT {
    height: 100vh;
    display: grid;
    grid-template-columns: 220px auto 220px;
}

#sideMenu {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background-color: #607080;
}

#instrumentInfo {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    background-color: #455876;
}

#map {
    margin: auto;
    background: linear-gradient(
        0deg,
        #000,
        #000 1px,
        #fff0 1px,
        #fff0 66px,
        #000 66px,
        #000 66px,
        #fff0 67px,
        #fff0 131px,
        #000 131px,
        #000 132px
    ), 
    linear-gradient(
        90deg,
        #000,
        #000 1px,
        #fff0 1px,
        #fff0 66px,
        #000 66px,
        #000 66px,
        #fff0 67px,
        #fff0 131px,
        #000 131px,
        #000 132px
    );
    background-size: 132px 132px;
    border: 1px solid black;
    position: relative;
    background-attachment: local;
    overflow: auto;
    display: none;
}

#map .selected {
    border: black 1px dotted;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.list div {
    background-color: azure;
    padding: 4px;
}

.list div.selected {
    background-color: brown;
}

.dropdown {
    max-height: 0px;
    transition: max-height 0.2s;
    background-color: azure;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown.down {
    max-height: 100px;
}

.hidden {
    display: none;
}