html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: #89a3d5;
    padding: 10px 0;
}

.btn {
    cursor: pointer;
    margin: 8px;
    padding: 4px;
    border: 0;
    border-radius: 8px;
    background-color: #dde1ed;
    text-align: center;
}

.btn:hover {
    background-color: #b1bacf;
}

input[type="number"] {
    margin: 8px;
    width: 76px;
}

input {
    margin: 8px;
    padding: 8px;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #6b7ea4;
}

label.floatLabel {
    position: absolute;
    font-size: 12px;
    padding-left: 4px;
}

#ROOT {
    height: 100vh;
    display: grid;
    grid-template-columns: 220px auto 220px;
}

#mainView {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

#sideMenu {
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

#rightSideMenu {
    grid-column: 3;
    display: flex;
    flex-direction: column;
}

#map {
    margin: auto;
    margin-right: 0;
    background: linear-gradient(
        0deg,
        #000,
        #000 1px,
        #fff0 1px,
        #fff0 66px,
        #000 66px,
        #000 66px,
        #fff0 67px,
        #fff0 131px,
        #000 131px,
        #000 132px
    ), 
    linear-gradient(
        90deg,
        #000,
        #000 1px,
        #fff0 1px,
        #fff0 66px,
        #000 66px,
        #000 66px,
        #fff0 67px,
        #fff0 131px,
        #000 131px,
        #000 132px
    );
    background-size: 132px 132px;
    border: 1px solid black;
    position: relative;
    background-attachment: local;
    overflow: auto;
    display: none;
}

#map .selected {
    border: black 1px dotted;
    margin: -1px;
}

#header {
    display: grid;
    grid-template-columns: 40px 1fr 2fr 2fr;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

#header div {
    border: 1px solid black;
}

#placeholder {
    margin-right: auto;
    text-align: center;
    padding: 0 16px;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.list div {
    background-color: #dde1ed;
    padding: 4px;
}

.list div.selected {
    background-color: #b1bacf;
}

.dropdown {
    max-height: 0px;
    transition: max-height 0.2s;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown.down {
    max-height: 300px;
}

.hidden {
    display: none;
}

#instrumentList {
    margin:auto
}

.flex {
    display: flex;
}

table {
    border-collapse: collapse;
}
  
table, tr {
    border: 1px solid black;
}

.showLater {
    display: none !important;
}
